<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">Edit Use Success</li>
    </ol>
</nav>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}} <a href="/" class="bi bi-eye"> <label>View Users</label></a>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>